body {
  background-color: #1a1818;
}

/* Parent Styles... */

.parent {
  height: 500px;
  width: 500px;

  background-color: darkcyan;
  margin: 0 auto;
}

.parent h1 {
  text-align: center;
  padding-block: 0.4em;
}

/* Child Styles.... */
.child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  height: 100px;
  width: 300px;
  background-color: #1a1818;
  color: #fff;
  margin: 0 auto;
}

.child button {
  background-color: aqua;
  /* margin: 3em 7em; */
  padding: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
